html {
  width: fit-content;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 100px;
  overflow: hidden;
}

#inspect {
  display: grid;
  grid-template-rows: 1fr 40px;
}
#inspect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#inspect button {
  background: #ebebeb url(../icons/32.png) center center no-repeat;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  pointer-events: none;
}
#native:hover button {
  background-color: #dbdbdb;
}

#toast {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fedb9b;
  color: #ab8445;
  padding: 2px 6px;
}
#toast:empty {
  display: none;
}

#samples {
  letter-spacing: 0.07em;
  font-size: 0.75em;
  color: #75797e;
  background: #f1f3f4;
  border-radius: 0.15em;
  padding: 0.45em 0.5em;
  text-decoration: none;
}

/* overwrites */
.pcr-app {
  box-shadow: none;
}
.pcr-app[data-theme='classic'] {
  padding-right: 0;
}
